<h1>Code with Deepak</h1>
<form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="popularity_99" class="form-label">Add popularity_99</label>
      <input type="number" class="form-control" [(ngModel)]="popularity_99" name="popularity_99" id="popularity_99" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="director" class="form-label">Director</label>
      <input type="text" class="form-control" [(ngModel)]="director" name="director" id="director">
    </div>
    <div class="mb-3">
        <label for="genre" class="form-label">Genre</label>
        <input type="text" class="form-control" [(ngModel)]="genre" name="genre" id="genre">
    </div>
    <div class="mb-3">
        <label for="imdb_score" class="form-label">Imdb Score</label>
        <input type="number" class="form-control" [(ngModel)]="imdb_score" name="imdb_score" id="imdb_score">
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Add Description</label>
        <input type="text" class="form-control" [(ngModel)]="name" name="name" id="name">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div class="group">
<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Genre</th>
        <th scope="col">ImdbScore</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let country of results">
        <td>{{country['name']}}</td>
        <td>{{country['genre']}}</td>
        <td>{{country['imdb_score']}}</td>
        <td><button type="button" class="btn btn-primary" [routerLink]="['/update-imdb', country['id']]">Edit</button></td>
        <td><button type="button" class="btn btn-danger" (click)="onDelete($event)">{{country['id']}}</button></td>
      </tr>
    </tbody>
  </table>
</div>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
      <li class="page-item disabled">
        <a class="page-link" href="{{previous}}" tabindex="-1">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="{{next}}">Next</a>
      </li>
    </ul>
  </nav>